extends layout 

block content 
    if file.owner.id !== user.id 
        h2 Error 
        p You are not allowed to view this content.
    else
        h2 File: #{file.name}
        ul 
            li Type: #{file.type}
            li Size: #{file.sizeFormatted}
            li Uploaded at #{file.uploadedAt.toLocaleString()}
            if file.folder 
                li Folder: #[a(href=`/folder/${file.folder.id}`)=file.folder.name]
            else
                li Folder: none
        if file.owner.id === user.id
            form(action=`/file/${file.id}/download`, method="post") 
                label(for="fileId")
                input(type="hidden" name='fileId' value=file.id) 
                button(type='submit') Download file
            form(action=`/file/${file.id}/move`, method="post") 
                label(for="fileId")
                input(type="hidden" name='fileId' value=file.id)
                label(for="folder") Move to folder:   
                select#folder(name="folder" required)
                    option(value="") Select a folder...
                    optgroup(label='Folders')
                        for folder in folders 
                            if !file.folder || (folder.id !== file.folder.id)
                                option(value=folder.id)=folder.name  
                    if file.folder
                        optgroup(label='Remove from folder?')
                            option(value='remove') Remove
                button(type="submit") Move
            form(action=`/file/${file.id}/delete` method='post')
                label(for="fileId")
                input(type="hidden" name='fileId' value=file.id)
                button(type="submit") Delete file
        if errors 
            ul 
                for error in errors 
                    li=error.msg