extends layout 

block content 
    h2=file.name
    ul 
        li Uploaded at #{file.uploadedAt.toLocaleString()}
        li Type: #{file.type}
        li Size: #{file.sizeFormatted}
        if file.folder 
            li Folder: #[a(href=`/folder/${file.folder.id}`)=file.folder.name]
        else
            li Folder: none
    form(action=`/file/${file.id}/download`, method="post") 
        label(for="fileId")
        input(type="hidden" name='fileId' value=file.id) 
        button(type='submit') Download file