extends layout 

block content 
    if !user || file.owner.id !== user.id 
        div.main
            p You are not allowed to view this content.
            a(href='/') Return to main page
    else
        div.main
          div.info
            h2 File: #{file.name}
            if file.type.includes('image')
                img(src=file.url, alt=file.name)
            ul 
                li #[strong Type]: #{file.type}
                li #[strong Size]: #{file.sizeFormatted}
                li #[strong Uploaded] #{file.uploadedAt.toLocaleString()}
                if file.folder 
                   li #[strong Folder]: #[a(href=`/folder/${file.folder.id}`)=file.folder.name]
                else
                    li #[strong Folder]: none
            a(href=url) Download
            a(href=`/file/${file.id}/share`) Share
            form(action=`/file/${file.id}/delete` method='post')
                label(for="fileId")
                input(type="hidden" name='fileId' value=file.id)
                button(type="submit") Delete file
            form(action=`/file/${file.id}/move`, method="post") 
                label(for="fileId")
                input(type="hidden" name='fileId' value=file.id)
                label(for="folder") Move to folder:   
                select#folder(name="folder" required)
                    option(value="") Select a folder...
                    if !folders.length
                        option(value='' disabled) No folders found 
                    else
                        optgroup(label='Folders')
                            for folder in folders 
                                if !file.folder || (folder.id !== file.folder.id)
                                    option(value=folder.id)=folder.name  
                                else
                                    option(value='' disabled)=folder.name
                    if file.folder
                        optgroup(label='Remove from folder?')
                            option(value='remove') Remove
                button(type="submit") Move
            if errors 
                div.errors
                    p #[strong Errors]
                    ul 
                        for error in errors 
                            li=error.msg
            a(href='/') Return to front page