extends layout 

block content  
    if !user || folder.owner.id !== user.id 
        h2 Error 
        p You are not allowed to view this content.
    else
        div.main
          div.info
            h2 Delete folder: #{folder.name}
            if folder.files.length === 1
                p 1 file 
            else
                p=`${folder.files.length} files`
            if folder.files.length 
                p Total size: #{folder.totalSize}
            ul.item-list
             for file in folder.files 
              li
                div.file
                    div.file-name
                        a(href=`/file/${file.id}`)=file.name
                    div.file-size=file.sizeFormatted
                    div.file-uploadedAt=file.uploadedAt.toLocaleString()
            form(action="", method="post") 
                if folder.files.length
                    fieldset(style='width: 25%')
                        legend How to proceed with deletion?
                        div.form-field
                            input#keepItems(type="radio", name="fileOption" value='keep' checked)
                            label(for="keepFiles") Keep files loose in drive
                        div.form-field
                            input#deleteItems(type="radio", name="fileOption" value='delete')
                            label(for="deleteFiles") Delete files from drive along with folder
                button(type="submit" style='margin-top: 4px') Delete "#{folder.name}"
            if errors 
                    div.errors
                        p #[strong Errors]
                        ul 
                            for error in errors 
                                li=error.msg
            a(href='/') Return to front page
