extends layout

block content
  if user
    p Welcome back to #{title}, #{user.name}!
    a(href='/logout') Logout
    form(action="/upload", method="post" enctype="multipart/form-data")
      label(for="file") File: 
      input(type="file" name='file')
      button(type="submit") Submit    
    if file 
      p latest upload:
      each thing in Object.entries(file)
        li= thing[0] + ': ' + thing[1]
  else 
    p Welcome to #{title}. Proceed to login
    a(href='/login') Login
  if errors 
    ul
      for error in errors
        li=error.msg