extends layout

block content
  if user
    p Welcome back to #{title}, #{user.name}! You were created at #{user.createdAt}!
    a(href='/logout') Logout
  else 
    p Welcome to #{title}. Proceed to login
    a(href='/login') Login
  if errors 
    ul
      for error in errors
        li=error.msg