extends layout

block content
  if user
    p Welcome back to #{title}, #{user.name}!
    a(href='/logout') Logout
    div.main
      div.folder-container
        p #[strong Your Folders]
        if user.folders.length 
          for folder in user.folders 
            ul.folder
              li 
                a(href=`/folder/${folder.id}`)=folder.name 
              li.folder-size=(folder.files.length === 1 ? '1 file' : folder.files.length + ' files')
              li.folder-createdAt=folder.createdAt
        else 
          p No folders
        form(action="/folder/new", method="post") 
          label(for="folder") Make a folder: 
          input(type="text" name='folder' id='folder' placeholder='My folder name' required)
          button(type='submit') Create 
      div.files
        p #[strong Your Files]
        if user.files.length 
          for file in user.files 
            ul.file
              li
                a(href=`/file/${file.id}`)=file.name 
              li.file-uploadedAt=file.uploadedAt 
              li.file-size=file.size
              if file.folder 
                li.file-folder Folder: #[a(href=`/folder/${file.folder.id}`)=file.folder.name] 
              form(action=`/file/${file.id}/download` method='post')
                label(for="fileId")  
                input(type="hidden" value=file.id name='fileId')
                button(type="submit") Download file
        else 
          p No files found
        form(action="/file/upload", method="post" enctype="multipart/form-data")
          label(for="file") Upload a file: 
          input(type="file" name='file' id='file' required)
          button(type="submit") Submit    
  else 
    p Welcome to #{title}. Proceed to login
    a(href='/login') Login
  if errors 
    ul
      for error in errors
        li=error.msg